---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';
---

<html lang="en">
	<head>
		<MainHead title="Aksh Bansal: Personal Site" description="Aksh Bansal: Developer" />
		<style lang="scss">
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;

				img {
					width: 100%;
				}
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>About Aksh</h1>
			<div class="heroImg">
				<img width="1400" height="350" src="https://images.unsplash.com/photo-1458682625221-3a45f8a844c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" alt="">
			</div>
			<div class="bio wrapper wrapper__readable mt8">
				<p>
					I am Aksh Bansal. I will be graduating with a B.Tech in CSE from IIITDM, Jabalpur in May 2024. 
					I am the co-coordinator of the programming club in the institute. I have helped many 
					students improve their programming skills by taking sessions on various topics such as version 
					control, web dev, linux, etc. I am also the maintainer of many open-source projects of the club. 
				</p>
				<p>
					I am passionate about web technologies. I usually use with Typescript but I love to try new
					tools, languages, and frameworks. Apart from building things, I also like to workout regularly.
				</p>
			</div>
		</div>
		<Footer />
	</body>
</html>
